.feature-container{
    padding-top: 20px
}
.feature-title{
    color: grey;
    text-align: center;
}
.feature-text{
    text-align: justify;
    font-size: auto;
}
.feature-image{
    margin: 3%;
}
.img{
    border-radius: 20px
}